<a class="home-connection"
   ng-href="#/client/{{ item.getClientIdentifier() }}"
   ng-class="{active: item.getActiveConnections()}"
   guac-context visible="item.showContextMenu">

    <!-- Connection icon -->
    <div class="icon type" ng-class="item.protocol"></div>

    <!-- Connection name -->
    <span class="name">{{item.name}}</span>

    <!-- Active user count -->
    <span class="activeUserCount" ng-show="item.getActiveConnections()"
        translate="HOME.INFO_ACTIVE_USER_COUNT"
        translate-values="{USERS: item.getActiveConnections()}"></span>
    
    <!-- Context menu -->
    <guac-context-menu ng-show="item.showContextMenu"
                       contextActions="item.contextActions"
                       title="item.name"/>

</a>
